<nav class="navbar navbar-expand-lg bg-warning mb-4 shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'courses' %}">Tất cả khóa học</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-courses' %}">Khóa học của tôi</a>
          </li>
          {% endif %}
        </ul>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light" type="submit">Tìm</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
            {% if not request.user.is_authenticated %}
          <li class="nav-item me-2 mt-lg-0 mt-2">
            <a class="btn btn-outline-dark" href="{% url 'login' %}">Đăng nhập</a>
          </li>

          <li class="nav-item mt-lg-0 mt-2">
            <a class="btn btn-dark" href="{% url 'register' %}">Đăng ký</a>
          </li>
          {% else %}
          <li class="nav-item mt-lg-0 mt-2">
          <a href="{% url 'cart' %}" class="btn btn-light position-relative me-3">
            <i class="fa-solid fa-cart-shopping"></i>Giỏ hàng
            {% for i in request.user.usercourse_set.all %}
              {% if i.status == 'added' or i.status == 'waiting'  %}
            <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">unread messages</span></span>
              {% endif %}
              {% endfor %}
          </a>
        </li>
          <li class="nav-item mt-lg-0 mt-2 dropdown">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end ">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>

          {% endif %}


      </div>
    </div>
  </nav>