{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-md-8">
            <h1 class="mb-3">Khóa học của tôi</h1>
            <ul class="list-group">
                {% for course in courses %}
                    <a href="{% url 'my_course_detail' course.id %}" class="list-group-item list-group-item-action">
                        {{ course.course.title }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock%}